.container {
  padding: 2px;
}

.header {
  background-color: #1d0227;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 1rem;
}

.editor-container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
  margin-top: 20px;
}

.editor { 
  width: 33%;
}

.run-button {
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}

.run-button:hover {
  background-color: #0056b3;
}

.output {
  width: 100%;
}

.output-frame {
  width: 100%;
  height: 80vh;
  border: none;
}